body{
    background-color: rgb(50, 50, 105);
    color: #e2e2e2;
}
*{
    box-sizing: border-box;
}

main{
    max-width: 300px;
    margin: 50px auto;
}

form{
    border: 3px solid #6a6aac;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}
form input[type="text"] {
    background: none;
    border: none;
    outline: none;
    padding: 0px 8px;
    display: block;
    width: 100%;
}

form button{
    background-color: rgb(116, 155, 214);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
div.task{
    background-color: #6a6aac;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    transition: opacity .3s linear;

}

div.task svg{
   
    height: 20px;
    margin-right: 4px;
    fill:rgb(123, 169, 238);
    
}

div.task.done{
    opacity: 0.4;
}
div.task-name{
    flex-grow: 1;
}

div.task span{
    position: relative;
    
}
div.task span:before{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    top: 12px;
    transition: width .3s linear;
}

div.task.done span:before{
    width: 100%;
}
h1{
    text-align: center;
    font-weight: lighter;
}

h2{
    text-align: center;
    font-weight: lighter;
}

h4{
    text-align: center;
    font-weight: lighter;
}

div.checkbox{
    display: flex;
    align-items: center;
}
button.trash{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;

}

button.trash svg{
    fill: #898bd1;
}
